In [1]:
import pygal
import numpy as np
import pandas as pd
from scipy.stats import ks_2samp
from scipy.stats import chisquare

%matplotlib inline

In [3]:
chisquare?

In [2]:
def test_ks_2samp(df1,df2):
    table = pd.DataFrame()
    pvalue = []
    si = []
    variables=separateVarCD(df1)
    for i in variables[0]:
        pvalue.append(ks_2samp(df1[i],df2[i])[1])
        si.append('false' if ks_2samp(df1[i],df2[i])[1]<.05 else'true')
    table['variable'] = variables[0]
    table['p_value']=pvalue
    table['son iguales']=si
    return table

In [3]:
def separateVarCD(df):
    """
    Esta funcion separa las variables continuas y discretas.
    
    si la variable es de tipo 'float64' o 'int64' se clasifica como continua
    si la variable es de otro tipo se clasifica como discreta
    """
    ls_cont = []
    ls_disc = []
    for i in range(0,len(df.columns)):
        if train.dtypes[i] == 'int64' or train.dtypes[i] == 'float64':
            ls_cont.append(df.columns[i])
        else:
            ls_disc.append(df.columns[i])
    return ls_cont,ls_disc

In [9]:
train = pd.read_csv('./csv/train.csv')
test = pd.read_csv('./csv/test.csv')

train["gameId"] = train["gameId"].astype(str)
train["platformId"] = train["platformId"].astype(str)
train["gameDuration"] = train["gameDuration"].astype(str)
train["gameCreation"] = train["gameCreation"].astype(str)
train["queueId"] = train["queueId"].astype(str)
train["mapId"] = train["mapId"].astype(str)
train["seasonId"] = train["seasonId"].astype(str)
train["teamId"] = train["teamId"].astype(str)
train["participantId"] = train["participantId"].astype(str)
train["championId"] = train["championId"].astype(str)


test["gameId"] = test["gameId"].astype(str)
test["platformId"] = test["platformId"].astype(str)
test["gameDuration"] = test["gameDuration"].astype(str)
test["gameCreation"] = test["gameCreation"].astype(str)
test["queueId"] = test["queueId"].astype(str)
test["mapId"] = test["mapId"].astype(str)
test["seasonId"] = test["seasonId"].astype(str)
test["teamId"] = test["teamId"].astype(str)
test["participantId"] = test["participantId"].astype(str)
test["championId"] = test["championId"].astype(str)

In [10]:
train.head()

,Unnamed: 0,gameId,platformId,gameCreation,gameDuration,queueId,mapId,seasonId,gameVersion,gameMode,...,damageTakenDiffPerMinDeltas_20-30,lane,role,creepsPerMinDeltas_30-end,xpPerMinDeltas_30-end,goldPerMinDeltas_30-end,damageTakenPerMinDeltas_30-end,csDiffPerMinDeltas_30-end,xpDiffPerMinDeltas_30-end,damageTakenDiffPerMinDeltas_30-end
0,46,626336825,LA1,1541396421086,2262,420,11,11,8.21.251.4430,CLASSIC,...,64.0,BOTTOM,DUO_CARRY,5.2,359.0,477.2,1136.6,-2.3,-108.7,-16.1
1,88,517793295,LA1,1516570412563,1222,420,11,11,8.1.214.5847,CLASSIC,...,NaN,JUNGLE,NONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62,614019404,LA1,1538692284892,197,420,11,11,8.19.246.5109,CLASSIC,...,NaN,NONE,DUO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,98,478344211,LA1,1507658443871,1370,420,11,9,7.19.203.1070,CLASSIC,...,NaN,JUNGLE,NONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,43,636354217,LA1,1543650236174,2171,420,11,12,8.23.254.717,CLASSIC,...,239.2,TOP,SOLO,2.0,385.2,309.2,1897.0,-4.2,-372.0,1280.4

In [11]:
test.head()

,Unnamed: 0,gameId,platformId,gameCreation,gameDuration,queueId,mapId,seasonId,gameVersion,gameMode,...,damageTakenDiffPerMinDeltas_20-30,lane,role,creepsPerMinDeltas_30-end,xpPerMinDeltas_30-end,goldPerMinDeltas_30-end,damageTakenPerMinDeltas_30-end,csDiffPerMinDeltas_30-end,xpDiffPerMinDeltas_30-end,damageTakenDiffPerMinDeltas_30-end
0,80,519536557,LA1,1516954735260,1214,420,11,11,8.2.215.824,CLASSIC,...,NaN,JUNGLE,NONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,657382202,LA1,1548535621078,1616,420,11,13,9.2.261.2172,CLASSIC,...,NaN,TOP,SOLO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25,651782540,LA1,1547184206622,1587,420,11,12,9.1.257.7563,CLASSIC,...,NaN,TOP,SOLO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,87,517779980,LA1,1516573437676,1801,420,11,11,8.1.214.5847,CLASSIC,...,643.1,JUNGLE,NONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,79,593728924,LA1,1534034075567,199,420,11,11,8.15.239.9021,CLASSIC,...,NaN,NONE,DUO,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
ls_cont,ls_disc = separateVarCD(train)

In [29]:
samp=test_ks_2samp(train,test)
samp.head()

         variable   p_value son iguales
0      Unnamed: 0  0.715005        true
1      towerKills  0.392315        true
2  inhibitorKills  1.000000        true
3      baronKills  1.000000        true
4     dragonKills  0.909511        true

In [30]:
samp["son iguales"].value_counts()

true     132
false      1
Name: son iguales, dtype: int64

In [20]:
def test_chisquare(df1,df2):
    table = pd.DataFrame()
    pvalue = []
    si = []
    variables=separateVarCD(df1)
    for i in variables[1]:
        pvalue.append(chisquare(df1[i].value_counts().sort_index(),df2[i].value_counts().sort_index()))
        si.append('true' if chisquare(df1[i].value_counts().sort_index(),df2[i].value_counts().sort_index())[1] <.05 else'false')
    table['variable'] = variables[0]
    table['p_value']=pvalue
    table['son iguales']=si
    return table

In [21]:
test_chisquare(train,test)

ValueError: operands could not be broadcast together with shapes (70,) (30,)

In [24]:
chisquare(test[ls_disc[2]].value_counts().sort_index(),train[ls_disc[2]].value_counts().sort_index())

ValueError: operands could not be broadcast together with shapes (30,) (70,)

In [26]:
test[ls_disc[3]].value_counts().sort_index()

1214    1
1322    1
1326    1
1465    1
1560    1
1561    1
1587    1
1616    1
1757    1
1783    1
1799    1
1800    1
1801    1
1839    1
1854    1
1918    1
1941    1
195     1
197     1
199     2
204     1
2087    1
2133    1
2180    1
2379    1
2438    1
2509    1
2614    1
953     1
Name: gameDuration, dtype: int64